table tr td
{
   font-family:Comic Sans MS,cursive,sans-serif;
   font-size:22px;
   text-shadow:1px 1px grey
}

input
{
   font-family:Arial Black,Gadget,sans-serif;
   font-size:22px;
   font-weight:604;
   padding:2px 3px 2px 3px;
}